body {
    text-align: center;
    background-color: #110c08;
    color: white;
    font-family: 'Archivo', sans-serif;
}

h1 {
    padding-top: 50px;
    padding-bottom: 10px;
    text-transform: uppercase;
}

p {
    padding-top: 90px;
}