.fpbody {
    color: white;
    text-align: center;
    background-color: #110c08;
    font-family: 'Archivo', sans-serif;
}

h1 {
    color: white;
    padding-top: 50px;
    padding-bottom: 10px;
    text-transform: uppercase;
}

.fptext {
    color: white;
    padding-top: 90px;
}
