body {background-color: #110C08;
    font-family: 'Archivo', sans-serif;}

.container {
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: #A11720;
    }

.row{
    margin: 0 !important ;
    padding: 0 !important;
}

.col-md-7 {
    color: white;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 2%;
    padding-right: 3%;
}

.col-md-1 {
    background-color: #110C08;
}

.col-md-4 {
    vertical-align: top;
    margin-top: 2%;
    color: white;
}

h2{
    color: white;
}

.btn-light {width: 130px;
    margin-top: 3%;}

td, th {
background-color: #ffffff !important;
}

td {padding: 4px;}

.movierow {
width: 18% !important;
}

textarea {margin-top: 3%;
margin-bottom: 3%}