body {background-color: #110C08;
    font-family: 'Archivo', sans-serif;}

.container {
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: #A11720;
    }

.row{
    margin: 0 !important ;
    padding: 0 !important;
}

.col-md-7 {
    background-color: #F1EED0;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 2;
}

.col-md-1 {
    background-color: #110C08;
}

.col-md-4 {
    margin-top: 5%;
    margin-bottom: 5%;
    color: white;
}

h2{
    color: white;
}

.btn-light {width: 130px;}
