.footer{
    background:#8F000C;
    height: 400px;
    position: relative;
}

.footer .footer-content{
    border: 1px;
    height: 350px;
    display: flex;
    color:white
}

.footer .footer-content .foot-selection{
    flex: 1;
    border: 1px;
    padding:30px;
}

.footer .footer-content .foot-selection address {
    padding-top: 0px;
}

.footer .footer-bottom{
    background-color: rgb(65, 3, 3);
    height: 50px;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding-top: 20px;
    color: white;
}

.fa{
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
    
}

.fa:hover {
    opacity: 0.7;
}


.fa-facebook {
    background: #3B5998;
    color: white;
}



.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-instagram{
    background: #125688;;
    color: white;
}

.fa-youtube{
    background: #bb0000;
    color: white;


}

body{
    background-color:black;

}

.header{
    color: white;
}

.image-wrapper{
    position: relative;
}

.movie-info{
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    text-align: initial;
    padding-left: 20px;
    padding-right: 200px;
    
    
    


    
}

.button{
   padding-left: 80px;
   padding-right: 100px;
   padding-top: 40px;
   padding-bottom: 40px; 

}

.image-wrapper .movie-info{
    transition: 1s;
    font-weight: 600;
    color: transparent;
}

.image-wrapper:hover .movie-info{
    font-weight: 600;
    color: lightgoldenrodyellow;
}


.dark-image{
    transition: 1s;
    filter: brightness(10%);
}


