.footer{
    background:#a30909;
    height: 190px;
    position: relative;
    font-family: 'Archivo', sans-serif;
}


.footer .footer-content{
    border: 1px;
    display: flex;
    color:white;
}

.footer .footer-content .foot-selection{
    flex: 1;
    border: 1px;
    padding-left: 30px;
    padding-top: 10px;
}

.footer .footer-content .foot-selection address {
    padding-top: 0px;
}

.footer .footer-bottom{
    background-color: #6e0d0d;
    height: 30px;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding-top: 5px;
    color: white;
}


.fa{
  padding: 10px;
  font-size: 30px;
  width: 38px;
  text-align: center;
  text-decoration: none;
  border-radius: 100%;
    
}

.fa:hover {
    opacity: 0.7;
}


.fa-facebook {
    background: #3B5998;
    color: white;
}



.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-instagram{
    background: #125688;;
    color: white;
}

.fa-youtube{
    background: #bb0000;
    color: white;


}


body{
    background-color:#110C08;
}

.row{padding-left:10%;
padding-top:3%;
padding-bottom:3%}

p{
    font-family: 'Archivo', sans-serif;
}

.image-wrapper{
    position: relative;
}

.movie-info{
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 90%;
    text-align: initial;
    padding:20%;
    padding-left: 5%;
    padding-right: 30%;
}

.button{
padding-left: 16.5%;
padding-top: 25px;
padding-bottom: 50px;
}

.btn-light{
    font-family: 'Archivo', sans-serif;
    font-weight: 600;
    font-size: 15px;}

.image-wrapper .movie-info{
    transition: 1s;
    font-weight: 600;
    color: transparent;
}

.image-wrapper:hover .movie-info{
    color: white;
}


.dark-image{
    transition: 1s;
    filter: brightness(10%);
}
